$mainColor: #15023a;

$tabletWidth: 768px;
$mobileWidth: 425px;

@mixin tablet {
  @media (max-width : #{$tabletWidth}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width : #{$mobileWidth}) {
    @content;
  }
}
